@import url(reset.css);
@import url(fullcalendar.min.css) screen;
@import url(fullcalendar.print.css) print;

@font-face {
    font-family: Filmotype-FilmotypeKeynote;
    src: url('/fonts/Filmotype-FilmotypeKeynote.woff');
}

@font-face {
    font-family: ITCAvantGardePro-Bk;
    src: url('/fonts/ITCAvantGardePro-Bk.woff');
}

@font-face {
    font-family: ITCAvantGardePro-BkObl;
    src: url('/fonts/ITCAvantGardePro-BkObl.woff');
}

@font-face {
    font-family: ITCAvantGardePro-Md;
    src: url('/fonts/ITCAvantGardePro-Md.woff');
}

@font-face {
    font-family: ITCAvantGardePro-MdObl;
    src: url('/fonts/ITCAvantGardePro-MdObl.woff');
}

@font-face {
    font-family: ITCAvantGardeStd-BkCn;
    src: url('/fonts/ITCAvantGardeStd-BkCn.woff');
}

body {
    color: #58585B;
    font-size: 17px;
    font-family: ITCAvantGardePro-Bk;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

.hide {
    display: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.container {
    width: 930px;
    margin: 0 auto;
}

.header {
    height: 146px;
    position: relative;
}

.header__bg {
    width: 930px;
    height: 106px;
    background: url(/images/header.svg);
    background-size: 930px 106px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.header__logo {
    float: left;
    font-size: 40px;
    line-height: 42px;
}

.header__logo a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 18px 0 0 33px;
}

.header__logo a span {
    color: #8CC63E;
}

.header__social {
    float: left;
    padding: 8px 0 0 194px;
}

.social-icon {
    width: 28px;
    height: 28px;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    display: inline-block;
}

.social__fb {
    background: url(/images/icon_fb.svg);
}

.social__inst {
    background: url(/images/icon_inst.svg);
}

.social__u-tube {
    background: url(/images/icon_u-tube.svg);
}

nav {
    margin-top: 2px;
    background: #84BB3B;
}

nav menu {
    font-family: ITCAvantGardePro-Md;
    float: right;
    list-style: none;
}

nav menu li {
    display: inline-block;
}

nav menu a {
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    height: 26px;
    padding: 4px 29px 0 29px;
}

nav menu a span {
    font-family: ITCAvantGardePro-Bk;
    font-size: 14px;
}

.directors {
    display: block;
    margin: 8px 0 40px 0;
    border: 2px solid #F5BC17;
    padding-bottom: 25px;
}

.directors header {

}

.directors__photo {
    position: relative;
    float: left;
}

.directors__photo img {
    width: 680px;
    height: 315px;
}

.directors__photo h1 {
    position: absolute;
    color: #fff;
    font-size: 43px;
    width: 100%;
    bottom: 22px;
    left: 45px;
    font-family: ITCAvantGardePro-Md;
}

.directors__info {
    font-family: ITCAvantGardePro-Md;
    float: left;
    color: #fff;
    text-align: center;
    background: #f7bd14;
    width: 246px;
    height: 225px;
    font-size: 23px;
    padding-top: 90px;
}

.directors__news {
    padding: 5px 0 0 35px;
}

.directors__news article {
    padding-top: 35px;
}

.directors__news article img {
    float: left;
    width: 94px;
    height: 94px;
    margin-right: 28px;
}

.directors__news article section {
    float: left;
    width: 717px;
}

.directors__news article section h2 {
    font-size: 25px;
    color: #009344;
    padding: 0 0 5px 0;
}

.directors__news article section p {
    line-height: 1.3;
}

.directors__news article section h2 span {
    font-size: 16px;
    font-family: ITCAvantGardePro-BkObl;
}

.directors__meeting-schedule {
    font-family: ITCAvantGardePro-Md;
    color: #84BB3B;
    font-size: 21px;
    padding: 60px 0 0 45px;
}

footer {
    border-top: 14px solid #0B763B;
    padding: 16px 0 0 25px;
}

.footer__company {
    float: left;
    color: #808284;
    font-size: 14px;
}

.footer__company h1 {
    font-size: 40px;
    color: #006738;
}

.footer__company p {
    padding-top: 7px;
}

p.footer__company__copyright {
    font-size: 10px;
    padding-top: 16px;
}

.footer__contacts {
    float: right;
    width: 420px;
    font-size: 18px;
    color: #006738;
}

.footer__contacts__phones {
    padding: 15px 0;
}

.footer__contacts a {
    color: #006738;
    text-decoration: none;
}

.footer__contacts__serving-since {
    font-size: 16px;
    color: #58585B;
    padding-top: 29px;
}

.news {
    padding: 8px 0 17px 0;
}

.news main {
    float: left;
    width: 670px;
}

.news aside {
    width: 248px;
    float: right;
}

.news aside h3 {
    font-family: Filmotype-FilmotypeKeynote;
    color: #006738;
    font-size: 35px;
    padding-left: 19px;
    line-height: 0.7;
}

.news__top {
    position: relative;
    width: 670px;
    height: 378px;
    overflow: hidden;
}

.news__top li {
    top: 0;
    position: absolute;
}

.news__top li img {
    width: 670px;
    height: 378px;
}

.news__top li h1 {
    font-family: ITCAvantGardePro-Md;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    position: absolute;
    font-size: 40px;
    color: #58585B;
    bottom: 0;
    padding: 10px 0 5px 15px;
    box-sizing: border-box;
}

.news__common {
    font-family: ITCAvantGardePro-Md;
    margin-top: 5px;
}

.news__common__item {
    width: 218px;
    float: left;
    border: #F5BC17 1px solid;
    margin-left: 5px;
}

.news__common__item:first-child {
    margin-left: 0;
}

.news__common__item img {
    width: 106px;
    height: 81px;
    float: left;
}

.news__common__item figcaption {
    float: left;
    width: 110px;
}

.news__common__item figcaption a {
    font-size: 20px;
    color: #009344;
    text-decoration: none;
    padding: 22px 0 0 13px;
    display: block;
}

.news__common__item__description {
    background: #84BB3B;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    line-height: 1.5;
}

.news__join.join-block {
    padding: 15px 0 15px 10px;
}

.join-block__follow {
    font-size: 35px;
    color: #006738;
    float: left;
    width: 270px;
}

.join-block__follow span {
    font-family: Filmotype-FilmotypeKeynote;
    float: left;
    margin-right: 15px;
}

.join-block__follow__icons {
    float: left;
}

.join-block__registration {
    font-family: ITCAvantGardePro-Md;
    float: right;
}

.join-block__registration label {
    float: left;
    font-size: 20px;
    color: #009344;
    line-height: 1.5;
}

.join-block__registration input {
    float: left;
    border: #009344 1px solid;
    height: 26px;
    width: 189px;
    margin-left: 10px;
    padding: 1px 7px;
}

.join-block__registration button {
    float: left;
    background: #009344;
    color: #fff;
    border: none;
    height: 30px;
    width: 30px;
}

.news__other {
    font-size: 12px;
}

.news__other figcaption {
    padding-top: 10px;
    line-height: 1.3;
}

.news__other__photo {
    width: 240px;
    float: left;
}

.news__other__photo img {
    width: 243px;
    height: 242px;
}

.news__other__video {
    width: 400px;
    float: right;
}

.news__blog {
    margin-top: 15px;
    border: 1px solid #F5BC17;
}

.news__blog section {
    float: left;
    color: #fff;
    background: #F5BC17;
    text-align: center;
    width: 209px;
    height: 124px;
}

.news__blog h3 {
    margin-top: 24px;
    font-size: 37px;
    font-family: Filmotype-FilmotypeKeynote;
}

.news__blog figcaption {
    float: left;
    width: 420px;
    padding: 8px 0 8px 25px;
    font-size: 12px;
}

.news__blog figcaption h5 {
    font-family: ITCAvantGardePro-Md;
    font-size: 16px;
    margin-bottom: 7px;
}

.news__blog figcaption p {
    line-height: 1.3;
}

.news__blog figcaption a {
    padding-top: 9px;
    font-size: 14px;
    color: #F7931D;
    display: block;
    text-decoration: none;
}

.news__next {
    padding-top: 11px;
}

.news__next__time {
    background: #F5BC17;
    color: #fff;
    padding: 12px 0 12px 15px;
}

.news__next__time time {
    font-family: ITCAvantGardePro-MdObl;
    font-size: 16px;
}

.news__next__time p {
    font-family: ITCAvantGardePro-Md;
    font-size: 20px;
    padding-top: 10px;
    line-height: 1.2;
}

.news__next__time a {
    padding-top: 30px;
    font-size: 15px;
    color: #009344;
    text-decoration: none;
    display: block;
}

.news__next__more {
    font-family: ITCAvantGardePro-Md;
    padding: 10px 0 10px 16px;
    border-top: #009344 1px solid;
    background: #8CC63E;
}

.news__next__more div {
    width: 31px;
    height: 31px;
    text-align: center;
    float: left;
    background: #fff;
    color: #009344;
    font-size: 35px;
    line-height: 0.75;
}

.news__next__more a {
    float: left;
    color: #009344;
    font-size: 15px;
    text-decoration: none;
    margin-left: 14px;
}

.news__upcoming {
    font-family: ITCAvantGardePro-Md;
    padding-top: 20px;
}

.news__upcoming menu {
    font-size: 23px;
    list-style: none;
}

.news__upcoming menu li {
    height: 30px;
    padding: 15px 0 0 20px;
}

.news__upcoming__tomorrow {
    background: #84BB3B;
}

.news__upcoming__week {
    background: #439C3F;
}

.news__upcoming__month {
    background: #0B763B;
}

.news__upcoming menu a {
    color: #fff;
    text-decoration: none;
}

.news__ongoing {
    font-family: ITCAvantGardePro-Md;
    padding-top: 20px;
}

.news__ongoing .event-block {
    margin-bottom: 6px;
}

.event-block {
    background: #84BB3B;
}

.event-block img {
    width: 119px;
    height: 93px;
    float: left;
}

.event-block figcaption {
    color: #fff;
    font-size: 20px;
    float: left;
    padding: 22px 0 0 14px;
}

.news__local-resources {
    font-family: ITCAvantGardePro-Md;
    padding-top: 6px;
}

.news__local-resources img {
    width: 100%;
    height: 151px;
    display: block;
}

.news__local-resources figcaption {
    background: #439C3F;
    height: 50px;
    color: #fff;
    font-size: 23px;
    text-align: center;
    line-height: 2.2;
}

.donate-role {

}

.donate-role menu {
    font-family: ITCAvantGardePro-Md;
    float: right;
    list-style: none;
}

.donate-role menu li {
    color: #fff;
    font-size: 20px;
    width: 113px;
    height: 30px;
    text-align: center;
    line-height: 1.6;
    display: inline-block;
    cursor: pointer;
}

.donate-role__menu__role {
    margin-right: 8px;
    background: #439C3F;
}

.donate-role__menu__donate {
    margin-right: 100px;
    background: #84BB3B;
}

.donate-role__donate {
    position: relative;
    background: #84BB3B;
    padding: 11px 0 17px 15px;
}

.donate-role__donate__matter {
    float: left;
    background: #D3E1AB;
    width: 515px;
    padding: 15px 0 15px 20px;
    color: #1C1C1B;
}

.donate-role__donate__matter h2 {
    font-family: ITCAvantGardePro-BkObl;
    font-size: 35px;
}

.donate-role__donate__matter figcaption {
    font-size: 22px;
}

.donate-role__donate__matter__part {
    padding: 8px 0 0 11px;
}

.donate-role__donate__matter__part span {
    width: 110px;
    height: 110px;
    background: url(/images/percents.svg);
    background-repeat: no-repeat;
    float: left;
}

.donate-role__donate__matter__part figcaption {
    float: left;
    padding: 26px 0 0 25px;
}

.donate-role__donate__matter__people {
    padding: 25px 0 0 10px;
}

.donate-role__donate__matter__people figcaption {
    float: left;
    padding: 6px 0 0 27px;

}

.donate-role__donate__matter__people span {
    width: 93px;
    height: 63px;
    background: url(/images/people.svg);
    background-repeat: no-repeat;
    float: left;
}

.donate-role__donate__matter__people figcaption {
    padding: 6px 0 0 27px;
    float: left;
}

.donate-role__donate__matter__increase {
    padding-top: 18px;
}

.donate-role__donate__matter__increase span {
    width: 123px;
    height: 73px;
    background: url(/images/increase.svg);
    background-repeat: no-repeat;
    float: left;
}

.donate-role__donate__matter__increase figcaption {
    float: left;
    padding: 18px 0 0 28px;
}

.donate-role__donate__now {
    float: right;
    width: 305px;
    padding: 0 30px 0 0;
}

.donate-role__donate__now h4 {
    color: #087232;
    font-size: 21px;
    font-family: ITCAvantGardePro-BkObl;
}

.donate-role__donate__now p {
    padding-top: 10px;
    font-size: 13px;
    color: #1C1C1B;
}

.donate-role__donate__now__thank {
    padding-top: 28px;
}

.donate-role__donate__now__estate {
    padding-top: 38px;
}

.donate-role__donate__now__btn {
    margin-top: 53px;
    display: block;
    width: 300px;
    height: 50px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #F39200;
    font-size: 40px;
    line-height: 1.3;
}

p.donate-role__donate__now__time {
    padding: 10px 0 0 3px;
    color: #fff;
    font-size: 16px;
}

.donate-role__role {
    position: relative;
    background: #439C3F;
    padding: 33px 0 35px 26px;
}

.donate-role__role__logo {

}

.donate-role__role__logo span {
    width: 116px;
    height: 119px;
    background: url(/images/logo.svg);
    background-repeat: no-repeat;
    float: left;
}

.donate-role__role__logo figcaption {
    float: left;
    width: 730px;
    color: #fff;
    padding: 23px 0 0 27px;
    font-size: 22px;
}

.donate-role__role__articles {
    padding-top: 23px;
}

.donate-role__role__articles article {
    float: left;
    border: #F6BE00 1px solid;
    color: #fff;
    width: 208px;
    margin-left: 12px;
}

.donate-role__role__articles article:first-child {
    margin-left: 0;
}

.donate-role__role__articles article figure {
    height: 77px;
}

.donate-role__role__articles article figure img {
    width: 101px;
    height: 77px;
    float: left;
}

.donate-role__role__articles article figure figcaption {
    padding: 22px 0 0 11px;
    float: left;
    font-size: 19px;
}

.donate-role__role__articles article p {
    font-family: ITCAvantGardePro-Md;
    padding: 9px 0 0 7px;
    background: #8EB81D;
    font-size: 13px;
    height: 56px;
    line-height: 1.2;
}

.donate-role__role__irs {
    font-family: ITCAvantGardePro-Md;
    color: #fff;
    font-size: 15px;
    padding-top: 26px;
}

.single-event {
    padding-top: 8px;
}

.single-event .join-block {
    padding-bottom: 18px;
}

.event-banner-block {
    border: 1px solid #e8b746;
}

.event-banner-block figure {
    background: #e8b746;
}

.event-banner-block figcaption {
    box-sizing: border-box;
    padding: 32px 26px 0 34px;
    width: 569px;
    float: left;
}

.event-banner-block figcaption time {
    color: #fff;
    font-family: ITCAvantGardePro-MdObl;
    font-size: 27px;
    padding-bottom: 19px;
    letter-spacing: 0.7px;
    display: block;
}

.event-banner-block figcaption h2 {
    color: #fff;
    font-family: ITCAvantGardePro-Md;
    font-size: 30px;
    padding-bottom: 48px;
    line-height: 1.3;
}

.event-banner-block figcaption span {
    color: #589155;
    font-family: ITCAvantGardePro-Bk;
    font-size: 25px;
    display: block;
    padding-bottom: 24px;
}

.event-banner-block__register button {
    font-family: ITCAvantGardePro-Md;
    font-size: 25px;
    height: 45px;
    color: #fff;
    background: #4A714C;
    border: none;
    padding: 0 9px;
    cursor: pointer;
}

.event-banner-block img {
    float: left;
}

.event-banner-block__description {
    padding: 25px 32px 0 32px;
}

.event-banner-block__description p {
    padding-bottom: 21px;
    line-height: 1.2;
}

.event-banner-block__description p:last-child {
    padding-bottom: 15px;
}

.interesting-events {
    padding-top: 20px;
}

.interesting-events h2 {
    color: #3B5F41;
    font-size: 35px;
    font-family: Filmotype-FilmotypeKeynote;
    padding-left: 16px;
    letter-spacing: -0.2px;
}

.interesting-events ul {
    list-style: none;
    padding: 3px 0 30px 80px;
}

.interesting-events li {
    background: #e8b746;
    color: #fff;
    margin-right: 12px;
    float: left;
    width: 250px;
    height: 146px;
    box-sizing: border-box;
    padding: 14px 0 13px 17px;
}

.interesting-events li time {
    display: block;
    padding-bottom: 10px;
}

.interesting-events li h3 {
    line-height: 1.3;
}

.interesting-events a {
    color: #589155;
    font-size: 15px;
    text-decoration: none;
}

.interesting-events li:last-child {
    margin-right: 0;
}

.ongoing-program-block {
    padding-bottom: 34px;
}

.ongoing-program-block .event-block {
    float: left;
    margin-right: 15px;
    width: 221px;
}

.ongoing-program-block .event-block img {
    width: 106px;
    height: 82px;
}

.ongoing-program-block .event-block:last-child {
    margin-right: 0;
}

.ongoing-program-block .event-block figcaption {
    font-size: 15px;
    padding-left: 11px;
    padding-top: 22px;
    line-height: 21px;
}

.ongoing-program-block h3 {
    font-family: Filmotype-FilmotypeKeynote;
    color: #006738;
    font-size: 35px;
    padding-bottom: 9px;
    line-height: 0.7;
}

.events-list {
    padding: 34px 0 18px 0;
}

.events-list-wrapper {
    margin-bottom: 37px;
}

.events-list h1 {
    color: #4A714C;
    font-family: ITCAvantGardePro-Md;
    font-size: 37px;
    margin-bottom: 26px;
    padding-left: 2px;
    letter-spacing: 0.4px;
}

.events-list .events-list-item {
    margin-bottom: 10px;
}

.events-list-item {
    border: 1px solid #e8b746;
}

.events-list-item figcaption {
    width: 250px;
    box-sizing: border-box;
    background: #e8b746;
    float: left;
    color: #fff;
    padding: 10px 0 12px 8px;
    height: 144px;
}

.events-list-item figcaption time {
    font-family: ITCAvantGardePro-MdObl;
    font-size: 17px;
    padding-bottom: 8px;
    display: block;
}

.events-list-item figcaption h3 {
    font-family: ITCAvantGardePro-Md;
    font-size: 18px;
    padding-bottom: 29px;
    line-height: 1.5;
    letter-spacing: -0.3px;
}

.events-list-item figcaption a {
    color: #589155;
    font-family: ITCAvantGardePro-Bk;
    font-size: 15px;
    text-decoration: none;
}

.events-list-item__content {
    width: 670px;
    box-sizing: border-box;
    float: left;
    padding: 6px 0 0 8px;
    font-size: 14px;
}

.events-list-item__content p {
    padding-bottom: 17px;
    line-height: 1.2;
}

.events-calendar {
    padding: 15px 0 18px 0;
}

.choose-category {
    padding-top: 20px;
    border-bottom: 2px solid #b2cca8;
}

.choose-category form {
    height: 32px;
    border-right: #6daae1 1px solid;
    width: 783px;
    float: left;
    position: relative;
}

.choose-category form label {
    font-family: Filmotype-FilmotypeKeynote;
    font-size: 48px;
    color: #3B5F41;
    vertical-align: top;
    line-height: 10px;
}

.choose-category form select {
    width: 254px;
}

.choose-category form span {
    font-family: ITCAvantGardePro-Md;
    color: #E08C43;
    font-size: 15px;
    position: absolute;
    top: -19px;
    left: 195px;
}

.choose-category form a {
    font-family: ITCAvantGardePro-Md;
    text-decoration: none;
    color: #659750;
    font-size: 14px;
}

.choose-category .google-share {
    margin-left: 44px;
}

.events-calendar .full-calendar {
    padding-top: 14px;
    font-family: ITCAvantGardePro-Md;
    font-size: 16px;
}

.events-calendar .full-calendar .fc-event {
    border-radius: 0;
    border: 1px solid #B7B6B6;
    background-color: #B7B6B6;
    padding: 4px 0 4px 6px;
}

.events-calendar .full-calendar .fc-event,
.events-calendar .full-calendar .fc-event:hover,
.events-calendar .full-calendar .ui-widget .fc-event {
    font-family: ITCAvantGardePro-MdObl;
    color: #201600;
    font-size: 10px;
}

.events-calendar .full-calendar .fc-popover,
.events-calendar .full-calendar .fc-row,
.events-calendar .full-calendar hr,
.events-calendar .full-calendar tbody,
.events-calendar .full-calendar td,
.events-calendar .full-calendar th,
.events-calendar .full-calendar thead {
    border-color: #2E7349;
}

.events-calendar .full-calendar .fc-day-header {
    font-size: 15px;
}

.events-calendar .fc-center h2 {
    color: #4A714C;
    font-size: 27px;
}
